:root{
    --cor1: #252C45; /*textos*/
    --cor2: #F0B81D; /*cor principal da logo*/
    --cor3: #5D6991; /*cor intermediária*/
    --cor4: #453B1E; /*cor para sombra*/
    --cor5: #A4B1DE; /*cor de fundo para destaques*/
    --cor6: #695E92; /*cor roxa da logo*/
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    font-family: 'Karla', sans-serif;
    background-image: linear-gradient(80deg, var(--cor5) 15%, var(--cor2));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--cor1);
    padding-bottom: 75px;
}
.navbar-brand {
    margin-right: 0;
}
.navbar-brand img {
    height: 100px;
}
.navbar-dark {
    padding-top: 35px;
    padding-bottom: 35px;
}
.navbar-dark .navbar-text:last-child {
    border-right: 0;
}
.page-title {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 6px;
}
p {
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-left: 0.7em;
}
.footer-social-links .social-link {
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    color: var(--cor1);
    margin-right: 25px;
    transition: all 0.3s ease-in-out;
}
.footer-social-links .social-link:last-child {
    margin-left: 30px;
}
.footer-social-links .social-link:hover {
    text-decoration: none;
    background-color: var(--cor1);
    color: #ffffff;
}
.link{
    text-decoration: none;
    color: var(--cor1);
}
.dados p{
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 10px;
}

@media (max-width: 475px) {     
    body{
        padding-bottom: 15px;
    }
    .navbar-brand img {
        height: 85px;
    }
    .navbar-dark .navbar-text:last-child {
        border-right: 0;
    }
    .page-title {
        font-size: 3.8em;
        font-weight: bold;
        margin-bottom: 21px;
        text-align: center;
    }
    p {
        font-size: 1.2em;
        padding: 0;
        margin: 0px;
        text-align: center;
    }
    .footer-social-links {
        margin: 13px 0px;
        text-align: center;
    }
    .footer-social-links .social-link:hover {
        text-decoration: none;
        background-color: var(--cor1);
        color: #ffffff;
        text-align: center;
    }
    .footer-social-links .social-link:last-child {
        margin: auto;
    }
    .dados p, .container-footer, p{
        margin-left: 0px;
    }
}